<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Account</title>
</head>
<body>
    <h2>Create Account</h2>
    <form action="/create_account" method="POST" onsubmit="return validateForm()">
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" autocomplete="off" required><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" autocomplete="off" required><br>

        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" autocomplete="off" required>

        <label for="confirm_password">Confirm Password:</label><br>
        <input type="password" id="confirm_password" name="confirm_password" autocomplete="off" required>
        <button type="button" onclick="togglePasswordVisibility()">Show Password</button><br>

        <span id="passwordError" style="color: red;"></span><br>

        <label for="account_type">Account Type:</label><br>
        <select id="account_type" name="account_type">
            <option value="child">Child</option>
            <option value="parent">Parent</option>
        </select><br>

        <button type="submit">Create Account</button>
    </form>

    <script>
        function togglePasswordVisibility() {
            var passwordField = document.getElementById('password');
            var confirmPasswordField = document.getElementById('confirm_password');
            var button = document.querySelector('button');

            if (passwordField.type === 'password') {
                passwordField.type = 'text';
                confirmPasswordField.type = 'text';
                button.textContent = 'Hide Password';
            } else {
                passwordField.type = 'password';
                confirmPasswordField.type = 'password';
                button.textContent = 'Show Password';
            }
        }

        function validateForm() {
            var password = document.getElementById('password').value;
            var confirmPassword = document.getElementById('confirm_password').value;
            var passwordError = document.getElementById('passwordError');
            if (password.length < 8) {
                passwordError.innerText = 'Password must be at least 8 characters long.';
                return false;
            } else if (password !== confirmPassword) {
                passwordError.innerText = 'Passwords do not match.';
                return false;
            }
            passwordError.innerText = ''; // Clear previous error message
            return true;
        }
    </script>
</body>
</html>
