<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Specify Day of the Week</title>
    <link rel="icon" type="image/png" href="../static/png/piggy_bank_icon.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>
</head>
<body>
    <header>
    <h1>Specify Day of the Week</h1>
    </header>
    <form action="{{ url_for('specify_day_of_week') }}" method="POST" class="centered-form">
        <label for="dayOfWeek">Select a day of the week:</label>
        <select name="dayOfWeek" id="dayOfWeek">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
        </select>
        <button type="submit">Submit</button>
    </form>
</body>
</html>
